---
name: Linting

on: [push, pull_request]

jobs:
  build:
    name: Run Awesome-Lint on project
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - run: npm config set package-lock false
      - run: npm install
      - run: npm test
